{% extends "base.html" %}
{% load static %}

{% block mainContent %}
<div class="d-flex justify-content-center align-items-center py-5" style="min-height: 80vh;">
    <div class="card shadow p-4 py-5" style="max-width: 500px; width: 100%;">
        <div class="alert alert-success text-center">
            <h4>Contraseña cambiada con éxito</h4>
            <a href="{% url 'coreapp:userPerfil' %}" class="btn btn-primary mt-3">Volver al perfil</a>
        </div>
    </div>
</div>
{% endblock %}
