{% extends "base.html" %}
{% load static %}
{% load form_tags %}

{% block mainContent %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h1 class="text-center mb-3">Tu contraseña ha sido restablecida exitosamente.</h1>

        <div class="alert alert-success text-center" role="alert">
            <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
            <a href="{% url 'login' %}" class="btn btn-primary mt-2 w-100">Iniciar sesión</a>
        </div>
    </div>
</div>
{% endblock mainContent %}
